.page {
    background-color: black;
    color: #FFFFFF;
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }