.popup__place-title {
    max-width: 240px;
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: start;
}

@media screen and (min-width: 920px) {
    .popup__place-title {
        max-width: 291px;
    }
}