.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .profile {
       flex-direction: row;
       justify-content: space-between;
    }
  }