.popup__button {
    border: none;
    padding: 0;
    background: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2px;
    width: 238px;
    height: 46px;
    transition: .7s ease;
}

.popup__button:hover {
    cursor: pointer;
    opacity: .8;
}

@media screen and (min-width: 920px) {
    .popup__button {
        width: 358px;
        height: 50px;
    }
}