.place__like-button {
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  transition: .7s ease;
}

.place__like-button:hover {
  cursor: pointer;
  opacity: .5;
}