.popup__close-button {
    position: absolute;
    right: 0;
    top: -36px;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/close.svg);
    background-size: contain;
    transition: .7s ease;
}

.popup__close-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (min-width: 920px) {
    .popup__close-button {
        right: -40px;
        top: -40px;
        width: 32px;
        height: 32px;
    }
}