.popup__input {
    border: none;
    margin: 75px 0 45px 0;
    padding: 0;
    display: grid;
    gap: 30px;
}

@media screen and (min-width: 920px) {
    .popup__input {
        margin-top: 54px;
        margin-bottom: 48px;
    }
}